.tabelle {
    display: grid;
    grid-template-columns: auto auto 16%;
    grid-template-areas: 
        'frontGrid backGrid buttonGrid'
        'frontGridFilter backGridFilter buttonGridFilter'
        'tabelleVokabular tabelleVokabular tabelleVokabular';
    row-gap: 10%;
    padding-top: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}