.app__container {
  margin: 20px;
}

body {
  font-family: sans-serif;
  background-color: #e2dddd;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

html {
  height: 100%;
}

.tabelle {
  display: grid;
  grid-template-columns: auto auto 16%;
  grid-template-areas: 
      'frontGrid backGrid buttonGrid'
      'frontGridFilter backGridFilter buttonGridFilter'
      /*'frontGridOrder backGridOrder buttonGridOrder'*/
      'tabelleVokabular tabelleVokabular tabelleVokabular';
  row-gap: 10%;
  padding-top: 2.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.tabelleVokabular {
  display: grid;
  grid-area: tabelleVokabular;
  grid-template-columns: auto auto 16%;
  row-gap: 10%;
}

