.app__container {
  margin: 20px;
}

body {
  font-family: sans-serif;
  background-color: #e2dddd;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

html {
  height: 100%;
}

.appBarMenuLeft {
  color: #F1EFEF;
  font-size: 20px;
  line-height: 45px;
  padding-left: 1%;
}

.appBarMenuRight {
  color:  #7ea5e1;
  font-size: 15px;
  line-height: 45px;
  padding-right: 1%;
}

.appBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #132043;
  text-align: right;
  height: 45px;
  width: 100%;
}

.eingabe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1%;
  height: 25px;
  line-height: 25px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 2%;
  /*
  border-bottom: 2px; 
  border-style: none none solid none;
  */
}

.eingabeCheckbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 25px;
  line-height: 25px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 2%;
}

.front {
  border-top: 5%;
  width: 42.5%;
}

.frontFilter {
  border-top: 5%;
  width: 42.5%;
  font-weight: bold;
}

.back {
  border-top: 5%;
  width: 42.5%;
}

.backFilter {
  border-top: 5%;
  width: 42.5%;
  font-weight: bold;
}

.save {
  border-top: 5%;
  width: 15%;
}

.inputText {
  width: 96%;
  border-bottom: 2px; 
  border-style: none none solid none;
  border-color: #7ea5e1;
  background-color: #e2dddd;
  outline: none;
  font-size: 15px;

}

.inputText::placeholder {
  color: #7ea5e1;
}

.buttonSaveDelete {
  width: 100%;
  height: 100%;
  background-color: #1a5974;
  color: white;
  border: none;
  border-radius: 4px;
}

.tabelle {
  display: grid;
  grid-template-columns: auto auto 16%;
  grid-template-areas: 
      'frontGrid backGrid buttonGrid'
      'frontGridFilter backGridFilter buttonGridFilter'
      /*'frontGridOrder backGridOrder buttonGridOrder'*/
      'tabelleVokabular tabelleVokabular tabelleVokabular';
  row-gap: 10%;
  padding-top: 2.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.buttonSaveDeleteGrid {
  width: 100%;
  height: 100%;
  background-color: #1a5974;
  color: white;
  border: none;
  border-radius: 4px;
}

.frontGrid {
  grid-area: frontGrid;
}

.backGrid {
  grid-area: backGrid;
}

.buttonGrid {
  grid-area: buttonGrid;
  height: 25px;
}

.frontGridFilter {
  grid-area: frontGridFilter;
}

.backGridFilter {
  grid-area: backGridFilter;
}

.buttonGridFilter {
  grid-area: buttonGridFilter;
  height: 25px;
}

.frontGridOrder {
  /*grid-area: frontGridOrder;*/
  font-weight: bold;
}

.backGridOrder {
  /*grid-area: backGridOrder;*/
  font-weight: bold;
}

.buttonGridOrder {
  /*grid-area: buttonGridOrder;*/
  height: 25px;
}

.backGridListe {
  border-bottom: 0.2px solid rgb(192, 188, 188);
}

.tabelleVokabular {
  display: grid;
  grid-area: tabelleVokabular;
  grid-template-columns: auto auto 16%;
  row-gap: 10%;
}

.frontGridVokabular {
  display: flex;
  align-items: center;
}

.backGridVokabular {
  display: flex;
  align-items: center;
}

.buttonGridVokabular {
  height: 25px;
}

.trennlinie {
  height: 0px;
  border-bottom: 0.2px solid rgb(192, 188, 188);
}
